In [56]:
import re
import pandas as pd

### 1.) Write a function named is_vowel. It should accept a string as input and use a regular expression to determine if the passed string is a vowel. While not explicity mentioned in the lesson, you can treat the result of re.search as a boolean value that indicates whether or not the regular expression matches the given string.

In [14]:
def is_vowel(subject):
    '''
    takes the first letter of a string and returns whether it is a vowel or not
    '''
    regexp = r'^[AEIOUaeiou]'
    if re.match(regexp,subject):
        print('indeed a vowel')
    else:
        print('that\'s a consonant')

In [15]:
is_vowel('a')

indeed a vowel

In [16]:
is_vowel('b')

that's a consonant

### 2.) Write a function named is_valid_username that accepts a string as input. A valid username starts with a lowercase letter, and only consists of lowercase letters, numbers, or the _ character. It should also be no longer than 32 characters. The function should return either True or False depending on whether the passed string is a valid username.

In [ ]:
#lowercase a-z, numbers and underscores
#no longer than 32 characters

In [95]:
def is_valid_username(subject):
    regexp = r'^[a-z]\w{1,31}$'
    if re.match(regexp,subject):
        return True
    else:
        return False

In [96]:
print(is_valid_username('aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa'))
print(is_valid_username('codeup'))
print(is_valid_username('Codeup'))
print(is_valid_username('1codeup'))

False
True
False
False

### 3.)Write a regular expression to capture phone numbers. It should match all of the following:

(210) 867 5309
+1 210.867.5309
867-5309
210-867-5309

In [89]:
regexp=r'(\d)?\D*(\d{3})?\D*\d{3}\D*\d{4}$'
regexp=r'(\d)?\D*(\d{3})?\D*\d{3}\D*\d{4}$'
subject = '210.867.5309'
re.match(regexp, subject)

In [ ]:
#optional random character in front
#3 digits (optional)
#random symbol
#3 more numbers
#random symbol
#4 numbers, nothing after

In [51]:
def phone_number(subject):
    regexp=r'.*?\d{3}?.*?\d{3}.*\d{4}$'
    if re.match(regexp, subject):
        return True
    else:
        return False

In [52]:
phone_number('(210) 867 5309')

True

In [53]:
phone_number('867-5309') #what the

False

In [64]:
df = pd.DataFrame()
df['phone_num'] = ['(210) 867 5309', '+1 210.867.5309', '867-5309', '210-867-5309', '2108675309']
df

         phone_num
0   (210) 867 5309
1  +1 210.867.5309
2         867-5309
3     210-867-5309
4       2108675309

### 4.) Use regular expressions to convert the dates below to the standardized year-month-day format.

02/04/19
02/05/19
02/06/19
02/07/19
02/08/19
02/09/19
02/10/19

In [66]:
dates = pd.Series(['02/04/19','02/05/19','02/06/19','02/07/19','02/08/19','02/09/19','02/10/19'])

In [67]:
date_reg = r'(\d+)/(\d+)/(\d+)'
[re.sub(date_reg, r'20\3-\1-\2',date) for date in dates]

['2019-02-04',
 '2019-02-05',
 '2019-02-06',
 '2019-02-07',
 '2019-02-08',
 '2019-02-09',
 '2019-02-10']

### 5.) Write a regex to extract the various parts of these logfile lines:

GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58


POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58


GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58

In [93]:
lines = """
GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58
POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58
GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58
"""

request = GET/POST
path = /api/v1/sales?page=86
timestamp = [16/Apr/2019:193452+0000]
version =  HTTP/1.1 
status code = {200}
numbers = 510348
user_agent = "python-requests/2.21.0"
ip = 97.105.19.58

In [91]:
regexp = r'''^(?P<request>GET|POST)\s(?P<path>[/\w\-\?=]+)\s\[(?P<timestamp>.+)\]\s
            (?P<version>HTTP/\d+\.\d+)\s\{(?P<status_code>\d+)\}\s(?P<bytes_out>\d+)\s"(?P<user_agent>.+)"\s(?P<ip>\d+\.\d+\.\d+\.\d+)$'''

In [94]:
regex = re.compile(regexp, re.VERBOSE)

df = pd.DataFrame()
df['line'] = lines.strip().split('\n')
df = pd.concat([df, df.line.str.extract(regex)], axis=1)
df

,line,request,path,timestamp,version,status_code,bytes_out,user_agent,ip
0,GET /api/v1/sales?page=86 [16/Apr/2019:193452+...,GET,/api/v1/sales?page=86,16/Apr/2019:193452+0000,HTTP/1.1,200,510348,python-requests/2.21.0,97.105.19.58
1,POST /users_accounts/file-upload [16/Apr/2019:...,POST,/users_accounts/file-upload,16/Apr/2019:193452+0000,HTTP/1.1,201,42,User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; ...,97.105.19.58
2,GET /api/v1/items?page=3 [16/Apr/2019:193453+0...,GET,/api/v1/items?page=3,16/Apr/2019:193453+0000,HTTP/1.1,429,3561,python-requests/2.21.0,97.105.19.58